# Compiled Object files
*.o

# Dependencies
*.d
Dependencies

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac stuff
*.dsYM

# Executable
bfc
